/* page.module.css */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fadeInAnimation {
    animation: fadeIn 2s ease-in;
  }
  

  .colorChangeOnHover {
    transition: color 0.5s ease;
  }
  
  .colorChangeOnHover:hover {
    color: #f28f05; 
  }

  .connectHover {
    transition: color 0.5s ease;
  }

  .connectHover:hover {
    color: #07ca00; 
  }

  .exploreHover {
    transition: color 0.5s ease;
  }

  .exploreHover:hover {
    color: #0038d1; 
  }

  .illuminateHover {
    transition: color 0.5s ease;
  }
  
  .illuminateHover:hover {
    color: #e8ef0b; 
  }